<button mat-flat-button (click)="previousSong()"><mat-icon fontIcon="skip_previous"></mat-icon></button>
<button mat-flat-button (click)="togglePlay()">
    <mat-icon *ngIf="audioService.isPlaying()" fontIcon="pause"></mat-icon>
    <mat-icon *ngIf="!audioService.isPlaying()" fontIcon="play_arrow"></mat-icon>
</button>
<button mat-flat-button (click)="nextSong()"><mat-icon fontIcon="skip_next"></mat-icon></button>

<button mat-flat-button (click)="toggleRepeat()">
    <mat-icon *ngIf="audioService.repeat()" fontIcon="repeat_one"></mat-icon>
    <mat-icon *ngIf="!audioService.repeat()" fontIcon="repeat"></mat-icon>
</button>
<button mat-flat-button (click)="toggleRandom()">
    <mat-icon *ngIf="audioService.isRandom()" fontIcon="shuffle_on"></mat-icon>
    <mat-icon *ngIf="!audioService.isRandom()" fontIcon="shuffle"></mat-icon>
</button>
