/* You can add global styles to this file, and also import other style files */
html,
body {
    background-color: #444;
    color: #fff;
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    height: 100%;
    /* overflow: hidden; */
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

body {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    -webkit-overflow-scrolling: touch; */
}