/* You can add global styles to this file, and also import other style files */
html,
body {
    background-color: #444;
    color: #fff;
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    height: 100%;
    /* overflow: hidden; */
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

body {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    -webkit-overflow-scrolling: touch; */
}

:root {
    --mat-sys-primary-container-color: #555!important;
    --mat-sys-on-primary-container-color: #fff!important;
    --mat-fab-small-state-layer-color: #555;
    --mat-sys-on-primary-container: #fff;

    --mdc-fab-small-container-color: #555;
    --mat-fab-small-foreground-color: #fff;

    --mdc-filled-button-label-text-color: #FFF;
    --mdc-filled-button-container-color: #555;
}